/************************************************
    GENERAL
 ************************************************/

/* 
COLOR:
top-sx: #000000
top-dx: #141922

bottom: #282828

link text: #a3a3a3

hover: white
active: #adff2f
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: 'Montserrat', sans-serif;
  color: white;
}

img{
  max-width: 100%;
}

/************************************************
    UTILITY
 ************************************************/
.debug *{
  border: 1px solid yellow;
}

/************************************************
    SECTION TOP
 ************************************************/
.top{
  height: calc(100vh - 80px);
  display: flex;
}

/* menu */
/* --------------------------------------------- */
.top-sx{
  height: 100%;
  width: 230px;
  background-color: #000000;
}

.playlist{
  height: calc(100% - 370px);
  overflow-y: auto;
}


.user{
  padding: 16px 0;
  /* border: 1px solid yellow; */
}
/* --------------------------------------------- */

/* main */
/* --------------------------------------------- */
.top-dx{
  width: calc(100% - 230px);
  overflow-y: auto;
  
  background-color: #141922;
}

.opaque-fixed{
  height: 80px;
  
  position: fixed;
  z-index: 999;
  left: 230px;
  right: 0;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  
  background-color: rgba(0, 0, 0, 0.5);
}

.main{
  margin-top: 80px;
  padding: 16px;
  height: calc(100% - 80px);
}

.main .category .row{
  display: flex;
}

.main .category .row .col{
  width: calc(100% / 6);
}
/* --------------------------------------------- */

/************************************************
    SECTION BOTTOM
 ************************************************/
.bottom{
  height: 80px;
  display: flex;
  background-color: #282828;
  text-align: center;

  position: fixed;
  z-index: 999;
  width: 100%;
}

.bottom-left,
.bottom-right{
  width: 20%;
}

.bottom-middle{
  width: 60%;
}

@media screen and (max-width: 600px){
  .menu{
    border: 2px solid white;
    height: 89%;
    overflow: hidden;
  }
}