/************************************************
    RESPONSIVE
 ************************************************/
/* DESKTOP */
 @media screen and (max-width: 1100px){
  .category .row .col{
    width: calc(100% / 4);
  }
}

/* TABLET */
@media screen and (max-width: 700px){
  .category .row .col{
    width: calc(100% / 2);
  }
}

/* MOBILE */
@media screen and (max-width: 600px) {
  /************************************************
     TOP SX
  ************************************************/
  .top-sx{
    min-height: 250px;
    width: 40px; /* riduco la grandezza per il mobile */
  }

  .menu li:active{
    box-shadow: inset 0px 0px #adff2f;
  }

  .link-active-left{
    box-shadow: inset 0px 0px #acff2f;
    /* rendo invisibile la classe active */
  }

  .menu ul a{
    padding-left: 0px;/* azzero il padding dato prima */

    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu img{
    filter: none
  }

  .menu li:first-child{
    display: block; /* rendo visibile il logo small */
  }

  .logo{
    display: none; /* nascondo il logo big */
  }

  .create-playlist{
    display: none; /* nascondo la create-playlist */
  }

  .playlist{
    display: none; /* nascondo la playlist */
  }

  /* user */

  .user span{
    display: none;
  }
  
  .user h3{
    display: none;
  }

  .user .line{
    opacity: 0; /* invece di usare display none, lo rendo invisibile, per tenermi la spaziatura tra gli elementi */
  }

  .user a{
    justify-content: center;
    align-items: center;
    padding-left: 0px;
  }
  
  .top-sx .menu a span{
    display: none;
  }

  /************************************************
     TOP DX
  ************************************************/

  /* allargo la parte destra top, perchè la sinistra si rimpicciolisce */
  .top-dx{
    width: calc(100% - 40px);
  }

  .opaque-fixed{
    left: 40px;
  }
 }

 @media screen and (max-width: 580px){
  /* BOTTOM player */

  /* left */
  .song span{
    font-size: 2.1vw;
  }
  .song a{
    font-size: 1.8vw;
  }

  .pref a{
    font-size: 2vw;
  }

  /* center */

  .box-button a{
    font-size: 2vw;
  }

  .box-button .fa-circle-play{
    font-size: 3.5vw;
    padding: 0 4px;
  }

  .progress-bar span{
    font-size: 1.5vw;
  }
  /* right */
  .bottom-right{
    font-size: 2vw;
    min-width: 100px;
  }
 }