/************************************************
    GENERAL
 ************************************************/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/************************************************
    UTILITY
 ************************************************/
.debug *{
  border: 1px solid black;
}

/************************************************
    SECTION TOP
 ************************************************/
.top{
  height: calc(100vh - 80px);
  display: flex;
}

/* menu */
/* --------------------------------------------- */
.top-sx{
  height: 100%;
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top-sx .top-menu{
  height: 100%;
}

.top-sx .logo{
  height: 80px;
}

.top-sx .playlist{
  height: 60%;
  overflow-y: scroll;
}
/* --------------------------------------------- */

/* main */
/* --------------------------------------------- */
.top-dx{
  width: calc(100% - 230px);
  overflow-y: auto;
}

.top-dx .opaque-fixed{
  height: 80px;
  
  position: fixed;
  z-index: 999;
  left: 230px;
  right: 0;

  text-align: right;
  background-color: rgba(0, 0, 0, 0.5);
}

.top-dx .main{
  margin-top: 80px;
  height: calc(100% - 80px);
}
/* --------------------------------------------- */

/************************************************
    SECTION BOTTOM
 ************************************************/
.bottom{
  height: 80px;
  display: flex;
  background-color: blueviolet;
}

.bottom-left,
.bottom-right{
  width: 15%;
}

.bottom-middle{
  width: 70%;
}