/************************************************
    GENERAL
 ************************************************/

a{
  text-decoration: none;
  color: #a3a3a3;
}

a:hover{
  color: white;
}

ul{
  list-style: none;
}

/************************************************
    UTILITY
************************************************/

.link-active-left{
  box-shadow: inset 4px 0px #adff2f;
}

.link-active-bottom{
  box-shadow: inset 0px -4px #adff2f;
}

/************************************************
    TOP SX
************************************************/

.top-sx a{
  font-size: 12px;
  font-weight: bold;
}

/* LOGO BIG */
.logo{
  height: 80px;
  display: flex;
  align-items: center;
}

.logo img{
  width: 60%;
  margin-left: 16px;
}

/* LOGO SMALL */

.logo-small{
  padding-top: 4px;
}

.logo-small img{
  width: 25px;
}

/* MENU */
.menu ul a{
  display: flex;
  align-items: center;
  padding-left: 24px;
}

.menu li:first-child{
  display: none;
}

.menu li{
  padding: 4px 0;
}

.menu li:active{
  box-shadow: inset 4px 0px #adff2f;
}

.menu img{
  width: 25px;
  margin-right: 4px;
}

/* PLAYLIST */

.create-playlist h4{
  padding-top: 24px;
  padding-bottom: 12px;
}

.create-playlist{
  padding-left: 24px;
}

.create-playlist a{
  display: flex;
  align-items: center;
}
.create-playlist i{
  font-size: 40px;
  padding-right: 8px;
}
.create-playlist span{
  font-size: 16px;
}

.playlist li{
  padding: 8px 0;
}

.playlist li:active{
  box-shadow: inset 4px 0px #adff2f;
}

.playlist ul a{
  padding-left: 24px;
}

/* USER */
.user{
  display: flex;
  flex-direction: column;
}

.user a{
  display: flex;
  align-items: center;
  padding-left: 24px;
}

.user a>img{
  width: 16px;
}

.user .image{
  background-color: grey;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  overflow: hidden;
}

.user .line{
  background-color: #a3a3a3;
  width: 80%;
  height: 1px;
  margin: 8px 0;
  margin-left: 24px;
}

.user span{
  padding-left: 8px;
}

.user h3{
  padding-left: 8px;
  color: white;
}

/************************************************
    TOP DX
************************************************/
/* opaque-fixed button */
.opaque-fixed .btn{
  color: white;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 24px;
  margin-right: 8px;
}

.opaque-fixed .btn:hover{
  scale: 1.05;
}

/* Category menu */
.category-menu ul{
  display: flex;
}

.category-menu li{
  padding: 16px;
  font-weight: bold;
}
/************************************************
    RESPONSIVE
************************************************/

/* MOBILE */
 @media screen and (max-width: 600px) {
  /************************************************
     TOP SX
  ************************************************/
  .top-sx{
    width: 40px; /* riduco la grandezza per il mobile */
  }

  .link-active{
    box-shadow: inset 0px 0px #adff2f;
    /* rendo invisibile la classe active */
  }

  .menu ul a{
    padding-left: 0px;/* azzero il padding dato prima */

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu li:first-child{
    display: block; /* rendo visibile il logo small */
  }

  .logo{
    display: none; /* nascondo il logo big */
  }

  .create-playlist{
    display: none; /* nascondo la create-playlist */
  }

  .playlist{
    display: none; /* nascondo la playlist */
  }

  /* user */

  .user span{
    display: none;
  }
  
  .user h3{
    display: none;
  }

  .user .line{
    opacity: 0; /* invece di usare display none, lo rendo invisibile, per tenermi la spaziatura tra gli elementi */
  }

  .user a{
    justify-content: center;
    align-items: center;
    padding-left: 0px;
  }
  
  /* allargo la parte destra top, perchè la sinistra si rimpicciolisce */
  .top-dx{
    width: calc(100% - 40px);
  }

  .top-sx .menu a span{
    display: none;
  }
 }