/************************************************
    GENERAL
 ************************************************/

a{
  text-decoration: none;
  color: #a3a3a3;
}

a:hover{
  color: white;
}

ul{
  list-style: none;
}

/************************************************
    UTILITY
************************************************/

.link-active-left{
  box-shadow: inset 4px 0px #adff2f;
}

.link-active-left a img{
  filter: none;
}

.link-active-bottom::after{
  content: "";
  background-color: #adff2f;

  position: absolute;
  width: 32px;
  height: 2px;
  top: 90%;
  left: 50%;
  transform: translate(-50%,0);
  
  /* oppure */
  /* left: calc(50% - 16px); */
  
}


/************************************************
    TOP SX
************************************************/

.top-sx a{
  font-size: 12px;
  font-weight: bold;
}

/* LOGO BIG */
.logo{
  display: flex;
  align-items: center;
}

.logo img{
  width: 60%;
  margin-left: 16px;
}

/* LOGO SMALL */

.logo-small{
  padding-top: 4px;
}

.logo-small img{
  width: 25px;
}

/* MENU */
.menu ul a{
  display: flex;
  align-items: center;
  padding-left: 24px;
}

.menu ul a:hover img{
  filter: none;
}

.menu li:first-child{
  display: none;
}

.menu li{
  padding: 4px 0;
}

.menu li:active{
  box-shadow: inset 4px 0px #adff2f;
}

.menu img{
  width: 25px;
  margin-right: 4px;
  filter: invert(65%) sepia(0%) saturate(1%) hue-rotate(337deg) brightness(99%) contrast(95%);
}

/* PLAYLIST */

.create-playlist h4{
  padding-top: 24px;
  padding-bottom: 12px;
}

.create-playlist{
  padding-left: 24px;
}

.create-playlist a{
  display: flex;
  align-items: center;
}

.create-playlist a:hover .add-playlist{
  background-color: white;
}

.create-playlist .add-playlist{
  /* creo il button per add-playlist */
  font-size: 40px;
  width: 40px;
  height: 40px;

  line-height: 40px;
  text-align: center;

  color: black;
  background-color: #a3a3a3;

  margin-right: 8px;
}
.create-playlist span{
  font-size: 16px;
}

.playlist li{
  padding: 8px 0;
}

.playlist li:active{
  box-shadow: inset 4px 0px #adff2f;
}

.playlist ul a{
  padding-left: 24px;
}

/* USER */
.user{
  display: flex;
  flex-direction: column;
}

.user a{
  display: flex;
  align-items: center;
  padding-left: 24px;
}

.user a>img{
  width: 16px;
}

.user .image{
  background-color: grey;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  overflow: hidden;
}

.user .line{
  background-color: #a3a3a3;
  width: 80%;
  height: 1px;
  margin: 8px 0;
  margin-left: 24px;
}

.user span{
  padding-left: 8px;
}

.user h3{
  padding-left: 8px;
  color: white;
}

/************************************************
    TOP DX
************************************************/
/* opaque-fixed button */
.opaque-fixed .btn{
  color: white;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 24px;
  margin-right: 32px;
}

.opaque-fixed .btn:hover{
  scale: 1.05;
}

/* Category menu */
.category-menu{
  text-align: center;
}

.category-menu ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.category-menu li{
  /* per applicare l'after tramite absolute */
  position: relative;

  padding: 4px 16px;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-menu a{
  font-size: 14px;
}

.category-menu a:active::after{
  content: "";
  background-color: #adff2f;

  position: absolute;
  width: 32px;
  height: 2px;
  top: 90%;
  left: 50%;
  transform: translate(-50%,0);
  
  /* oppure */
  /* left: calc(50% - 16px); */
}

/* Category song*/
.category{
  padding-top: 32px;
}

.category .row{
  margin: 0 -8px;
  padding-top: 16px;
}

.category .card{
  text-align: center;
  padding: 8px;
}

.category h5{
  color: white;
  padding-top: 8px;
}

.category h6{
  color: #a3a3a3;
  padding-top: 8px;
}

.category .image{
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}

.hover-play{
  position: relative;
}

.fa-circle-play{
  font-size: 64px;
}

.shadow-hover{
  display: none;
  justify-content: center;
  align-items: center;

  width: 100%;
  aspect-ratio: 1/1;
  background-color: rgba(0, 0, 0, 0.7);

  position: absolute;
  top: 0;
  bottom: 0;
}

.category .hover-play:hover .shadow-hover{
  display: flex;
}

/************************************************
    BOTTOM player
************************************************/

/* Bottom left - song title/info */
.bottom-left{
  display: flex;
  align-items: center;
  padding: 8px;
}

.bottom-left .image{
  width: 40px;
  height: 40px;
  margin-right:16px;
  
  display: flex;
  align-items: center;
}

.song{
  margin-right: 40px;
}


.song span{
  display: block;
  font-size: 12px;
  font-weight: bold;
  color: white;
}


.song a{
  display: block;
  line-height: 10px;
  font-size: 10px;
  font-weight: bold;
  color: #a3a3a3;
}

.song a:hover{
  color: white;
  text-decoration: underline;
}

.pref{
  color: #a3a3a3;
}

.pref a{
  margin-right: 8px;
}
/* Bottom center - player button */
.bottom-middle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

/* BOX BUTTON */
.box-button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 18px;
}

.box-button .fa-circle-play{
  font-size: 32px;
  padding: 0 16px;
}

.box-button a{
  color: white;
}

.box-button a:hover{
  scale: 1.05;
}

/* PROGRESS BAR */
.progress-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.bar{
  width: 80%;
  height: 4px;
  background-color: #5a5a5a;
  border-radius: 4px;
  margin: 0 24px;

  position: relative;
  cursor: pointer;
}

.used-bar{
  width: 20%;
  height: 4px;
  background-color: #c1c1c1;
  border-radius: 4px;

  position: absolute;
  z-index: 2;
}

.bar:hover .used-bar{
  background-color: #adff2f;
  
}

.bar:hover .point-bar{
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;

  position: absolute;
  z-index: 3;
  top: calc(50% - 4px);
  left: calc(100% - 4px);
}

/* Bottom right - volume */

.bottom-right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.bottom-right a{
  padding: 0 4px;
}

.bottom-right .box-button-volume{
  width: 50%;
}

.bottom-right .bar{
  margin: 0 8px;
  width: 40%;
}




