/************************************************
    GENERAL
 ************************************************/

a{
  text-decoration: none;
  color: #a3a3a3;
}

a:hover{
  color: white;
}

ul{
  list-style: none;
}

/************************************************
    UTILITY
************************************************/

.link-active-left{
  box-shadow: inset 4px 0px #adff2f;
}

.link-active-left a img{
  filter: none;
}

.link-active-bottom{
  width: 32px;
  height: 2px;
  background-color: #adff2f;
  /* PROBLEMA ??? */
}


/************************************************
    TOP SX
************************************************/

.top-sx a{
  font-size: 12px;
  font-weight: bold;
}

/* LOGO BIG */
.logo{
  display: flex;
  align-items: center;
}

.logo img{
  width: 60%;
  margin-left: 16px;
}

/* LOGO SMALL */

.logo-small{
  padding-top: 4px;
}

.logo-small img{
  width: 25px;
}

/* MENU */
.menu ul a{
  display: flex;
  align-items: center;
  padding-left: 24px;
}

.menu ul a:hover img{
  filter: none;
}

.menu li:first-child{
  display: none;
}

.menu li{
  padding: 4px 0;
}

.menu li:active{
  box-shadow: inset 4px 0px #adff2f;
}

.menu img{
  width: 25px;
  margin-right: 4px;
  filter: invert(65%) sepia(0%) saturate(1%) hue-rotate(337deg) brightness(99%) contrast(95%);
}

/* PLAYLIST */

.create-playlist h4{
  padding-top: 24px;
  padding-bottom: 12px;
}

.create-playlist{
  padding-left: 24px;
}

.create-playlist a{
  display: flex;
  align-items: center;
}

.create-playlist a:hover .add-playlist{
  background-color: white;
}

.create-playlist .add-playlist{
  /* creo il button per add-playlist */
  font-size: 40px;
  width: 40px;
  height: 40px;

  line-height: 40px;
  text-align: center;

  color: black;
  background-color: #a3a3a3;

  margin-right: 8px;
}
.create-playlist span{
  font-size: 16px;
}

.playlist li{
  padding: 8px 0;
}

.playlist li:active{
  box-shadow: inset 4px 0px #adff2f;
}

.playlist ul a{
  padding-left: 24px;
}

/* USER */
.user{
  display: flex;
  flex-direction: column;
}

.user a{
  display: flex;
  align-items: center;
  padding-left: 24px;
}

.user a>img{
  width: 16px;
}

.user .image{
  background-color: grey;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  overflow: hidden;
}

.user .line{
  background-color: #a3a3a3;
  width: 80%;
  height: 1px;
  margin: 8px 0;
  margin-left: 24px;
}

.user span{
  padding-left: 8px;
}

.user h3{
  padding-left: 8px;
  color: white;
}

/************************************************
    TOP DX
************************************************/
/* opaque-fixed button */
.opaque-fixed .btn{
  color: white;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 24px;
  margin-right: 32px;
}

.opaque-fixed .btn:hover{
  scale: 1.05;
}

/* Category menu */
.category-menu{
  text-align: center;
}

.category-menu ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.category-menu li{
  padding: 4px 16px;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-menu a{
  font-size: 14px;
}

/* Category song/**/
.category{
  padding-top: 32px;
}

.category .row{
  margin: 0 -8px;
  padding-top: 16px;
}

.category .card{
  text-align: center;
  padding: 8px;
}

.category h5{
  color: white;
  padding-top: 8px;
}

.category h6{
  color: #a3a3a3;
  padding-top: 8px;
}

.category .image{
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}

.hover-play{
  position: relative;
}

.fa-circle-play{
  font-size: 64px;
}

.shadow-hover{
  display: none;
  justify-content: center;
  align-items: center;

  width: 100%;
  aspect-ratio: 1/1;
  background-color: rgba(0, 0, 0, 0.7);

  position: absolute;
  top: 0;
  bottom: 0;
}

.category .hover-play:hover .shadow-hover{
  display: flex;
}

/************************************************
    RESPONSIVE
************************************************/

/* MOBILE */
 @media screen and (max-width: 600px) {
  /************************************************
     TOP SX
  ************************************************/
  .top-sx{
    width: 40px; /* riduco la grandezza per il mobile */
  }

  .menu li:active{
    box-shadow: inset 0px 0px #adff2f;
  }

  .link-active-left{
    box-shadow: inset 0px 0px #acff2f;
    /* rendo invisibile la classe active */
  }

  .menu ul a{
    padding-left: 0px;/* azzero il padding dato prima */

    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu img{
    filter: none
  }

  .menu li:first-child{
    display: block; /* rendo visibile il logo small */
  }

  .logo{
    display: none; /* nascondo il logo big */
  }

  .create-playlist{
    display: none; /* nascondo la create-playlist */
  }

  .playlist{
    display: none; /* nascondo la playlist */
  }

  /* user */

  .user span{
    display: none;
  }
  
  .user h3{
    display: none;
  }

  .user .line{
    opacity: 0; /* invece di usare display none, lo rendo invisibile, per tenermi la spaziatura tra gli elementi */
  }

  .user a{
    justify-content: center;
    align-items: center;
    padding-left: 0px;
  }
  
  /* allargo la parte destra top, perchè la sinistra si rimpicciolisce */
  .top-dx{
    width: calc(100% - 40px);
  }

  .top-sx .menu a span{
    display: none;
  }
 }